// Import styles
@import "partials/settings";
@import "partials/reset";
@import "partials/global";
@import "partials/fonts";
@import "partials/footer";
@import "partials/topnav";
@import "partials/forms";
@import "partials/buttons";
@import "partials/spinner";
@import "partials/modal";
@import "partials/home";
@import "partials/animations";
@import "partials/tiles";