/* settings styles
*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global layout styles
*/
body {
  background-color: white;
}

.page-outer {
  width: 100%;
}

.page-inner {
  margin: 0 auto;
  max-width: 1120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* footer styles
*/
.footer-container {
  background-color: #f0f4f7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 0 20px;
  font-size: 14px;
}
.footer-container a {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #6B7C93;
  text-decoration: none;
}
.footer-container a:hover {
  color: #FC5858;
}

.footer-row:after {
  content: '';
  clear: both;
  display: table;
}

.footer-download-link {
  float: left;
  width: 30%;
}

.footer-download-link__form {
  margin-bottom: 20px;
}
.footer-download-link__form input {
  margin-right: 6px;
}

.footer-app-links {
  margin-bottom: 40px;
}

.footer-app-links__item {
  padding-right: 6px;
}
.footer-app-links__item img {
  width: 108px;
}

.footer-social-links__item {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: inline-block;
  margin-right: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 22px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 22px -6px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.footer-social-links__item img {
  display: block;
}
.footer-social-links__item:hover {
  opacity: 0.6;
}

.footer-text-links {
  float: left;
  width: 70%;
}
.footer-text-links:after {
  content: '';
  clear: both;
  display: table;
}

.footer-text-links__col {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}

.h2-footer {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-link-list {
  padding-bottom: 20px;
}
.footer-link-list li {
  line-height: 1.6;
  padding-bottom: 8px;
}

.footer-legal {
  position: relative;
  border-top: 1px solid #B0B3B5;
  margin-top: 40px;
  font-size: 13px;
  text-align: right;
  padding: 20px 0 10px;
}

.shyft-logo-footer {
  position: absolute;
  left: 0;
  top: 10px;
  width: 116px;
}

.footer-legal-link {
  padding-left: 20px;
}

/* forms styles
*/
input[type=text], input[type=email] {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #B0B3B5;
  padding: 5px 8px;
}
input[type=text]:focus, input[type=email]:focus {
  outline: none;
  border: 1px solid #FC5858;
}

/* button styles
*/
.button {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: inline-block;
  margin: 0;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  background-color: #FC5858;
  border: 1px solid #FC5858;
  cursor: pointer;
  opacity: 1;
}
.button:focus {
  outline: none;
}
.button:hover {
  opacity: 0.7;
}
