/* settings styles
*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global layout styles
*/
body {
  background-color: white;
}

.page-outer {
  width: 100%;
}

.page-inner {
  margin: 0 auto;
  max-width: 1120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.-success {
  padding: 4px 0;
  color: green;
  display: none;
  line-height: 1.2;
}

.-error {
  padding: 4px 0;
  color: red;
  display: none;
  line-height: 1.2;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* footer styles
*/
.footer-container {
  background-color: #f0f4f7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 20px 20px;
  font-size: 14px;
}
.footer-container a {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #6B7C93;
  text-decoration: none;
}
.footer-container a:hover {
  color: #FC5858;
}

.footer-row {
  position: relative;
}
.footer-row:after {
  content: '';
  clear: both;
  display: table;
}
@media (max-width: 650px) {
  .footer-row {
    padding-bottom: 100px;
  }
}

.footer-download-link {
  float: left;
  width: 30%;
}
@media (max-width: 940px) {
  .footer-download-link {
    width: 40%;
  }
}
@media (max-width: 650px) {
  .footer-download-link {
    float: none;
    width: 100%;
  }
}

.footer-download-link__form {
  margin-bottom: 20px;
}
.footer-download-link__form input {
  margin-right: 6px;
}
@media (max-width: 650px) {
  .footer-download-link__form {
    position: relative;
    margin-bottom: 40px;
    padding-right: 60px;
  }
  .footer-download-link__form input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0;
    width: 100%;
  }
  .footer-download-link__form .button {
    position: absolute;
    right: 0;
    bottom: -1px;
  }
}

.footer-app-links {
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  .footer-app-links {
    text-align: center;
    position: absolute;
    bottom: -120px;
    width: 100%;
  }
}

.footer-app-links__item {
  padding-right: 6px;
}
.footer-app-links__item img {
  width: 108px;
}

@media (max-width: 650px) {
  .footer-social-container {
    position: absolute;
    bottom: 0;
  }
}

.footer-social-links__item {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: inline-block;
  margin-right: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 22px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 22px -6px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.footer-social-links__item img {
  display: block;
}
.footer-social-links__item:hover {
  opacity: 0.6;
}

.footer-text-links {
  float: left;
  width: 70%;
}
.footer-text-links:after {
  content: '';
  clear: both;
  display: table;
}
@media (max-width: 940px) {
  .footer-text-links {
    width: 60%;
  }
}
@media (max-width: 650px) {
  .footer-text-links {
    float: none;
    width: 100%;
  }
}

.footer-text-links__col {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}
@media (max-width: 940px) {
  .footer-text-links__col {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .footer-text-links__col {
    padding-left: 0;
    padding-right: 10px;
  }
}

.h2-footer {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-link-list {
  padding-bottom: 20px;
}
.footer-link-list li {
  line-height: 1.6;
  padding-bottom: 8px;
}

.footer-legal {
  position: relative;
  border-top: 1px solid #B0B3B5;
  margin-top: 20px;
  font-size: 13px;
  text-align: right;
  padding: 20px 0 10px;
}
@media (max-width: 650px) {
  .footer-legal {
    text-align: center;
    padding: 82px 0 18px;
  }
}

.shyft-logo-footer {
  position: absolute;
  left: 0;
  top: 10px;
  width: 116px;
}
@media (max-width: 650px) {
  .shyft-logo-footer {
    display: none;
  }
}

.footer-legal-link {
  padding-left: 20px;
}
@media (max-width: 650px) {
  .footer-legal-link {
    padding: 0 10px;
  }
}
@media (max-width: 650px) {
  .footer-legal-link.-copyright {
    position: absolute;
    bottom: 0;
    padding: 0;
  }
}

/* topnav styles
*/
.topnav-inner {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0 30px 20px;
}

.topnav-logo {
  width: 212px;
}

.topnav-toggle {
  position: absolute;
  top: 36px;
  right: 20px;
  width: 48px;
  height: 48px;
  background-color: #E9EDEF;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px 0;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 900px) {
  .topnav-toggle {
    display: none;
  }
}

.topnav-toggle__close {
  position: relative;
  top: 1px;
  display: none;
}

.topnav-menu {
  position: absolute;
  top: 120px;
  right: 0px;
  width: 100%;
  max-width: 600px;
  background-color: white;
  z-index: 100;
  border-top: 4px solid #f0f4f7;
  display: none;
}
@media (min-width: 900px) {
  .topnav-menu {
    right: 10px;
    display: block;
    top: 35px;
    border: none;
    max-width: 613px;
  }
}

.topnav-menu__top {
  position: relative;
}
@media (min-width: 900px) {
  .topnav-menu__top {
    display: inline-block;
  }
  .topnav-menu__top.-contact-us {
    display: none;
  }
  .topnav-menu__top.-login a {
    border-radius: 6px;
    padding: 8px 40px 8px 10px;
    border: 1px solid #1C1D1E;
    position: relative;
  }
  .topnav-menu__top.-login a:hover .login-icon-stroke {
    stroke: #FC5858;
  }
  .topnav-menu__top.-login a svg {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .topnav-menu__top.-login a .login-icon-stroke {
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    stroke: #1C1D1E;
  }
  .topnav-menu__top.-login:after {
    display: none;
  }
}
.topnav-menu__top a {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: block;
  color: #1C1D1E;
  font-size: 20px;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  border-bottom: 4px solid #f0f4f7;
}
.topnav-menu__top a:hover {
  color: #FC5858;
}
.topnav-menu__top a svg {
  display: none;
}
@media (min-width: 900px) {
  .topnav-menu__top a {
    display: inline-block;
    font-size: 16px;
    border: none;
    padding: 14px 40px 14px 0;
  }
}
.topnav-menu__top.-open a {
  color: #FC5858;
}
.topnav-menu__top.-open:after {
  top: 20px;
  border: solid #FC5858;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@media (min-width: 900px) {
  .topnav-menu__top.-open:after {
    border-width: 0 1px 1px 0;
    top: 21px;
    padding: 3px;
  }
}
.topnav-menu__top.-open .topnav-menu__subnav {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  display: block;
  height: auto;
  overflow: visible;
}
.topnav-menu__top:after {
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  position: absolute;
  right: 20px;
  top: 16px;
  content: '';
  border: solid #1C1D1E;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (min-width: 900px) {
  .topnav-menu__top:after {
    border-width: 0 1px 1px 0;
    top: 17px;
    right: 24px;
    padding: 3px;
  }
}

.topnav-menu__subnav {
  padding: 0 20px;
  border-bottom: 6px solid #f0f4f7;
  border-top: 2px solid #f0f4f7;
}
.topnav-menu__subnav a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 10px;
  border-bottom: 2px solid #f0f4f7;
  color: #1C1D1E !important;
}
.topnav-menu__subnav a:last-child {
  border: none;
}
.topnav-menu__subnav a:hover {
  color: #FC5858 !important;
}
@media (min-width: 900px) {
  .topnav-menu__subnav {
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    position: absolute;
    left: -50%;
    padding: 5px 10px;
    border: 1px solid #f0f4f7;
    border-radius: 6px;
    background-color: white;
    min-width: 160px;
    -webkit-box-shadow: 3px 3px 29px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 29px -9px rgba(0, 0, 0, 0.4);
  }
  .topnav-menu__subnav a {
    display: block;
    border: none;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    line-height: 1.4;
    padding: 6px 5px;
  }
  .topnav-menu__subnav:after, .topnav-menu__subnav:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .topnav-menu__subnav:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 6px;
    margin-left: -6px;
  }
  .topnav-menu__subnav:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #f0f4f7;
    border-width: 9px;
    margin-left: -9px;
  }
}

.topnav-menu__subnav {
  overflow: hidden;
  opacity: 0;
  height: 1px;
}

/* forms styles
*/
input[type=text], input[type=email] {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #B0B3B5;
  padding: 5px 8px;
}
input[type=text]:focus, input[type=email]:focus {
  outline: none;
  border: 1px solid #FC5858;
}
input[type=text]:disabled, input[type=email]:disabled {
  opacity: 0.5;
}

/* button styles
*/
.button {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: inline-block;
  margin: 0;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  background-color: #FC5858;
  border: 1px solid #FC5858;
  cursor: pointer;
  opacity: 1;
}
.button:focus {
  outline: none;
}
.button:hover {
  opacity: 0.7;
}

/*
    throbber.scss
    This css file is used for styling the site's typography
    All properties should follow the BEM methodology.
    example: search-form__header {}
    more info on BEM here: https://en.bem.info/methodology/quick-start/
*/
#newsletterSpinner {
  top: 6px;
  left: 6px;
  display: none;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
}

.lds-spinner div {
  -webkit-transform-origin: 11px 11px;
  -ms-transform-origin: 11px 11px;
  transform-origin: 11px 11px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  left: 10px;
  width: 2px;
  height: 5px;
  border-radius: 20%;
  background: #FC5858;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
