/* animations styles
*/

.animate-slide {
    transition: all 0.35s;
}

.fly-from-right {
    transform: translateX(1500px);
    @media (max-width: $breakpoint-900) {
        transform: translateX(0);
    }
}

.fly-from-left {
    transform: translateX(-1500px);
    @media (max-width: $breakpoint-900) {
        transform: translateX(0);
    }
}