/* Global layout styles
*/

body {
    background-color: $color-site-bg;
    color: $color-body-font;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'TruenoSemiBold';
}

h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'TruenoSemiBold';
    margin-bottom: 20px;
}

h3 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: 'TruenoSemiBold';
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $color-header-bg;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    line-height: 1.4;
}

.page-outer {
    width: 100%;
    overflow-x: hidden;
}

.page-inner {
    margin: 0 auto;
    max-width: 1120px;
    box-sizing: border-box;
    // padding: 0 20px;
}

.-success {
    padding: 4px 0;
    color: green;
    display: none;
    line-height: 1.2;
}

.-error {
    padding: 4px 0;
    color: red;
    line-height: 1.2;
}

footer {
    .-error {
        display: none;
    }
}

.hr {
    max-width: 600px;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid $color-hr;
}

.section-header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.cta-row {
    text-align: center;
}