/* Home layout styles
*/

.background-container__home-hero {
    background: transparent url('../images/bgs/bg-home-hero.jpg') 100% 50% no-repeat;
}

.background-container__empower-section {
    background: transparent url('../images/bgs/bg-empower-section.jpg') 50% 50% no-repeat;
}

.home-hero__inner {
    position: relative;
    padding-right: 50%;
    padding: 0 45% 80px 20px;
    margin-top: 80px;
    line-height: 1.2;
    box-sizing: border-box;
    min-height: 500px;
    @media (max-width: $breakpoint-900) {
        padding: 0 20px 80px;
        text-align: center;
    }
}

.home-hero__subheader {
    padding: 40px 0 60px;
    font-size: 20px;
}

.home-hero__image {
    position: absolute;
    right: 60px;
    top: -30px;
    width: 335px;
    @media (max-width: $breakpoint-900) {
        position: relative;
        right: auto;
        top: auto;
        display: block;
        margin: 0 auto;
        max-width: 335px;
        width: 80%;
        margin-top: 60px;
    }
}

.client-logos {
    padding: 80px 0;
    text-align: center;
    img {
        position: relative;
        width: 20%;
        margin: 20px 20px;
        @media (max-width: $breakpoint-tablet) {
            width: 30%;
            &.client-wsj {
                width: 40%;
            }
        }
    }
}

.client-techcrunch {
    top: -5px;
}

.client-wsj {
    top: -8px;
}

.client-retail-dive {
    top: 2px;
}

.home-empower {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 80px 20px;
    text-align: center;
    p {
        margin-bottom: 30px;
    }
}

.home-solutions, .home-features {
    padding: 80px 20px;
}

.tile-solution__image {
    margin-bottom: 20px;
}

.tile-solution__header {
    font-family: 'TruenoSemiBold';
    font-size: 24px;
    line-height: 1.2;
}

.tile-footer__link {
    position: relative;
    transition: all 0.25s;
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: $color-shyft-brand;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 24px;
    &:hover {
        opacity: 0.7;   
    }
    &:after {
        content: url('../images/icons/icon-text-link.svg');
        position: absolute;
        right: 0;
        top: 0;
        width: 16px;
        height: 16px;
        display: block;
    }
    @media (max-width: $breakpoint-tablet) {
        left: 50%;
        transform: translateX(-50%);
    }
}

.tile-feature__image {
    position: absolute;
    left: 50%;
    top: -40px;
    width: 80px;
    height: 80px;
    transform: translateX(-50%);
    background-color: $color-site-bg;
    border-radius: 50%;
    box-shadow: $drop-shadow-menu;
    .tile-feature__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    @media (max-width: $breakpoint-900) {
        top: 0px;
    }
    @media (max-width: $breakpoint-tablet) {
        left: 74px;
        top: 63px;
        width: 70px;
        height: 70px;
    }
}
.tile-feature__ext-link {
    position: absolute;
    top: 20px;
    right: 30px;
    @media (max-width: $breakpoint-900) {
        top: 50px;
    }
}

.tile-feature__header {
    font-family: 'TruenoSemiBold';
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 18px;
    margin-top: 60px;
    @media (max-width: $breakpoint-tablet) {
        margin-top: 8px;
        margin-bottom: 10px;
    }
}

.tile-feature__description {
    font-size: 16px;
    line-height: 1.3;
}

.feature-row {
    padding: 30px 0;
    .tile-inner {
        min-height: 200px;
        @media (max-width: $breakpoint-900) {
            margin-bottom: 40px;
        }
        @media (max-width: $breakpoint-tablet) {
            min-height: auto;
            padding-left: 110px;
            text-align: left;
        }
    }
    @media (max-width: $breakpoint-900) {
        padding: 0;
    }
    &.tile-row {
        margin-top: 0;
    }
}

.home-testimonials {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 0 160px;
}

.tile-testimonial__profile {
    position: absolute;
    top: 20px;
    left: 30px;
}
.tile-testimonial__icon {
    width: 25px;
    margin: 10px 0;
}

.tile-testimonial__author {
    position: absolute;
    left: 130px;
    bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.tile-testimonial__social {
    position: absolute;
    right: 30px;
    bottom: 28px;
    a {
        display: inline-block;
        margin-left: 5px;
    }
}
