/* settings styles
*/

// breakpoints
$breakpoint-940: 940px;
$breakpoint-650: 650px;
$breakpoint-phablet: 600px;
$breakpoint-tablet: 770px;

// branded colors
$color-site-bg: white;
$color-footer-bg: #f0f4f7;
$color-topnav-cta-bg: #E9EDEF;
$color-main-font: #141414;
$color-footer-link: #6B7C93;
$color-shyft-brand: #FC5858;
$color-footer-border: #B0B3B5;
$color-nav-color: #1C1D1E;

// shadows
$drop-shadow-icons: 5px 5px 22px -6px rgba(0, 0, 0, 0.5);